<h3>{{title}}</h3>
<ul>
  <li>Modules</li>
  <li>
    Components
    <ul>
      <li>Life cycle</li>
      <li>Data sharing between Components
        <ul>
          <li>Sibling Components</li>
      <li>Parent component -child components</li>
      <li>Unrelated components(observable)</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>Data binding
    <ul>
      <li>Event binding</li>
      <li>Two way data binding</li>
    </ul>
  </li>
  <li>Meta data</li>
  <li>Template</li>
  <li>Services-one functionality used by multiple components.its also a layer that can be communicated with server.
    seperation of ui layer with integrated layer.</li>
  <li>Observable(rxjs)</li>
  <li>Directives
    <ul>
      <li>ngIf</li>
      <li>ngFor</li>
      <li>ngModel</li>
    </ul>
  </li>
  <li>Dependency Injection</li>
  <li>Routing</li>
</ul>
<router-outlet></router-outlet>
